/* css for background Color */
.custom-bg-color{
  background-color: rgba(137, 200, 246, 0.675);
}

/* css property for carHomepage.jsx */
.custom-container{
  height:fit-content;
  min-height: 100vh;
}


/* css for Navbar.jsx */
.custom-navbar{
  /* border: 1px solid; */
  border-radius: 20px;
  box-shadow: 0px 6px 5px 5px rgb(90, 142, 179);
  /* border: 2px solid red; */
}
/* .custom-searchicon{
  position: absolute;
  right: 1rem;
  top:50%;
  transform: translate(0%,-50%);
} */

/* css for CarItems */
.cutom-carItem{
  border:2px solid red;
  min-height: 60vh;
  height:fit-content;
}



/* css for CarCard.jsx */
.costom-card-border{
  /* border: 2px solid red; */
  width: 25rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 8px 8px 10px 5px rgb(90, 142, 179);
}

.custom-like{
  background-color: rgba(121, 193, 244, 0.579);
  border-radius: 12px
}
.coutom-textBold{
  font-weight:600;
}